<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bareitan.movierent">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MoviesActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MovieDetailActivity"
            android:parentActivityName=".MoviesActivity" />
        <activity
            android:name=".AddMovieActivity"
            android:parentActivityName=".MoviesActivity" />
        <activity
            android:name=".EditMovieActivity"
            android:parentActivityName=".MoviesActivity" />
        <activity
            android:name=".CategoriesAdminActivity"
            android:label="@string/title_activity_categories_admin"
            android:parentActivityName=".MoviesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddMovieFromTMDBActivity"
            android:parentActivityName=".AddMovieActivity" />
        <activity
            android:name=".HistoryActivity"
            android:parentActivityName=".MoviesActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>